{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <table>
        <tr>
            <th></th>
            <th></th>
        </tr>
            {% for item in listItems %}
                <tr>
                    <td>
                        <img src="{{ item.imageUrl }}" height="250">
                    </td>
                    <td>
                        <h4>{{ item.title }}</h4>
                        <p>Price: ${{ item.startingBid }}</p>
                        <textarea id="activeListingDescription">{{ item.description }}</textarea>
                        <p>Category: {{ item.category }}</p>
                    </td>
                </tr>
            {% endfor %}
    </table>
    
{% endblock %}